* {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px; }

body {
  height: 100vh;
  width: 100vw;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden; }

.colourInput {
  text-transform: uppercase;
  text-align: center;
  width: 100px;
  border-style: none;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 1000; }

#graph {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

#optionWrapper {
  width: calc(60% - 40px);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 100px;
  padding: 20px; }
  #optionWrapper .option {
    width: 33%;
    border: none;
    float: left;
    text-align: center; }
    #optionWrapper .option .jscolor, #optionWrapper .option .dimension {
      border: none;
      text-align: center;
      width: 100px; }
    #optionWrapper .option .dimension {
      background-color: whitesmoke; }

#footer {
  width: 100%;
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 0; }
  #footer #author {
    float: left;
    padding: 20px; }
  #footer #original {
    float: right;
    padding: 20px; }
  #footer a {
    color: white; }
  #footer #title {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: 700; }

.xAxis text {
  font-size: 10px;
  -webkit-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  transform: translateY(-25px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.xAxis line {
  width: 200px;
  -webkit-transform: scaleY(85);
  -ms-transform: scaleY(85);
  transform: scaleY(85);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.xAxis path {
  stroke: none; }

.time {
  font-size: 20px; }

@-webkit-keyframes sway {
  0% {
    top: -20px;
    -webkit-transform: rotateX(-20deg);
    transform: rotateX(-20deg); }
  3% {
    margin-left: -2%;
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg); }
  7% {
    margin-left: 1%;
    -webkit-transform: rotateX(-170deg);
    transform: rotateX(-170deg); }
  10% {
    margin-left: 2%;
    -webkit-transform: rotateX(-230deg);
    transform: rotateX(-230deg); }
  16% {
    margin-left: 5%;
    -webkit-transform: rotateX(-250deg);
    transform: rotateX(-250deg); }
  22% {
    margin-left: 3%;
    -webkit-transform: rotateX(-280deg);
    transform: rotateX(-280deg); }
  28% {
    margin-left: 0%;
    -webkit-transform: rotateX(-300deg);
    transform: rotateX(-300deg); }
  35% {
    margin-left: 3.5%;
    -webkit-transform: rotateX(-310deg);
    transform: rotateX(-310deg); }
  48% {
    margin-left: 1%;
    -webkit-transform: rotateX(-350deg);
    transform: rotateX(-350deg); }
  58% {
    margin-left: 3.5%;
    -webkit-transform: rotateX(-310deg);
    transform: rotateX(-310deg); }
  70% {
    margin-left: 0.5%;
    -webkit-transform: rotateX(-280deg);
    transform: rotateX(-280deg); }
  83% {
    margin-left: -2%;
    -webkit-transform: rotateX(-230deg);
    transform: rotateX(-230deg); }
  95% {
    margin-left: 2%;
    -webkit-transform: rotateX(-200deg);
    transform: rotateX(-200deg); }
  100% {
    margin-left: 3%;
    top: 100%; } }

span.billsBillsBills {
  padding: 5px;
  display: block;
  position: absolute;
  z-index: 100;
  -webkit-animation: sway 10s ease-out;
  animation: sway 10s ease-out;
  opacity: 0.4;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  width: 200px;
  pointer-events: none; }

@-webkit-keyframes drop {
  0% {
    top: 0%; }
  100% {
    top: 100%; } }
